<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.view.model.vaadin.renderer">
      <renderer
            renderable="org.eclipse.emf.ecp.view.spi.table.model.VTableControl"
            renderer="org.eclipse.emf.ecp.view.table.vaadin.TableRendererVaadin">
         <staticTest
               element="org.eclipse.emf.ecp.view.spi.table.model.VTableControl"
               priority="1">
         </staticTest>
      </renderer>
   </extension>

</plugin>
