!SESSION 2014-09-16 13:16:28.562 -----------------------------------------------
eclipse.buildId=unknown
java.version=1.8.0_11
java.vendor=Oracle Corporation
BootLoader constants: OS=macosx, ARCH=x86_64, WS=cocoa, NL=en
Command-line arguments:  -dev file:/Users/dme/Documents/workspace_ecp_vaadin/.metadata/.plugins/org.eclipse.pde.core/OSGi Framework/dev.properties -os macosx -ws cocoa -arch x86_64 -consoleLog -console

!ENTRY org.eclipse.equinox.registry 2 0 2014-09-16 13:16:29.194
!MESSAGE The extensions and extension-points from the bundle "com.vaadin.client-compiler" are ignored. The bundle is not marked as singleton. 
 ____                    ____                   __                            
/\  _`\                 /\  _`\          __    /\ \                           
\ \ \/\ \    ___     ___\ \ \L\ \  _ __ /\_\   \_\ \     __      __           
 \ \ \ \ \  / __`\  /'___\ \  _ <'/\`'__\/\ \  /'_` \  /'_ `\  /'__`\         
  \ \ \_\ \/\ \L\ \/\ \__/\ \ \L\ \ \ \/ \ \ \/\ \L\ \/\ \L\ \/\  __/         
   \ \____/\ \____/\ \____\\ \____/\ \_\  \ \_\ \___,_\ \____ \ \____\        
    \/___/  \/___/  \/____/ \/___/  \/_/   \/_/\/__,_ /\/___L\ \/____/        
              ___    ___       ____                      /\____/              
 /'\_/`\  __ /\_ \  /\_ \     /\  _`\                    \_/__/               
/\      \/\_\\//\ \ \//\ \    \ \,\L\_\     __   _ __   __  __     __   _ __  
\ \ \__\ \/\ \ \ \ \  \ \ \    \/_\__ \   /'__`\/\`'__\/\ \/\ \  /'__`\/\`'__\
 \ \ \_/\ \ \ \ \_\ \_ \_\ \_    /\ \L\ \/\  __/\ \ \/ \ \ \_/ |/\  __/\ \ \/ 
  \ \_\\ \_\ \_\/\____\/\____\   \ `\____\ \____\\ \_\  \ \___/ \ \____\\ \_\ 
   \/_/ \/_/\/_/\/____/\/____/    \/_____/\/____/ \/_/   \/__/   \/____/ \/_/ 
                           __                                                 
 /'\_/`\                  /\ \__                                              
/\      \     __      ____\ \ ,_\    __   _ __                                
\ \ \__\ \  /'__`\   /',__\\ \ \/  /'__`\/\`'__\                              
 \ \ \_/\ \/\ \L\.\_/\__, `\\ \ \_/\  __/\ \ \/                               
  \ \_\\ \_\ \__/.\_\/\____/ \ \__\ \____\\ \_\                               
   \/_/ \/_/\/__/\/_/\/___/   \/__/\/____/ \/_/                               
                                                                         2.2.0
dbmillserver> Index: 1, Size: 0
2014-09-16 13:17:18.629:WARN:oejs.ServletHandler:
javax.servlet.ServletException: com.vaadin.server.ServiceException: java.lang.IndexOutOfBoundsException: Index: 1, Size: 0
	at com.vaadin.server.VaadinServlet.service(VaadinServlet.java:307)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:848)
	at org.eclipse.equinox.http.servlet.internal.ServletRegistration.service(ServletRegistration.java:61)
	at org.eclipse.equinox.http.servlet.internal.ProxyServlet.processAlias(ProxyServlet.java:128)
	at org.eclipse.equinox.http.servlet.internal.ProxyServlet.service(ProxyServlet.java:60)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:848)
	at org.eclipse.equinox.http.jetty.internal.HttpServerManager$InternalHttpServiceServlet.service(HttpServerManager.java:360)
	at org.eclipse.jetty.servlet.ServletHolder.handle(ServletHolder.java:684)
	at org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:501)
	at org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:229)
	at org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1086)
	at org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:428)
	at org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:193)
	at org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1020)
	at org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:135)
	at org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:116)
	at org.eclipse.jetty.server.Server.handle(Server.java:370)
	at org.eclipse.jetty.server.AbstractHttpConnection.handleRequest(AbstractHttpConnection.java:494)
	at org.eclipse.jetty.server.AbstractHttpConnection.content(AbstractHttpConnection.java:982)
	at org.eclipse.jetty.server.AbstractHttpConnection$RequestHandler.content(AbstractHttpConnection.java:1043)
	at org.eclipse.jetty.http.HttpParser.parseNext(HttpParser.java:865)
	at org.eclipse.jetty.http.HttpParser.parseAvailable(HttpParser.java:240)
	at org.eclipse.jetty.server.AsyncHttpConnection.handle(AsyncHttpConnection.java:82)
	at org.eclipse.jetty.io.nio.SelectChannelEndPoint.handle(SelectChannelEndPoint.java:667)
	at org.eclipse.jetty.io.nio.SelectChannelEndPoint$1.run(SelectChannelEndPoint.java:52)
	at org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:608)
	at org.eclipse.jetty.util.thread.QueuedThreadPool$3.run(QueuedThreadPool.java:543)
	at java.lang.Thread.run(Thread.java:745)
Caused by: 
com.vaadin.server.ServiceException: java.lang.IndexOutOfBoundsException: Index: 1, Size: 0
	at com.vaadin.server.VaadinService.handleExceptionDuringRequest(VaadinService.java:1460)
	at com.vaadin.server.VaadinService.handleRequest(VaadinService.java:1414)
	at com.vaadin.server.VaadinServlet.service(VaadinServlet.java:305)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:848)
	at org.eclipse.equinox.http.servlet.internal.ServletRegistration.service(ServletRegistration.java:61)
	at org.eclipse.equinox.http.servlet.internal.ProxyServlet.processAlias(ProxyServlet.java:128)
	at org.eclipse.equinox.http.servlet.internal.ProxyServlet.service(ProxyServlet.java:60)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:848)
	at org.eclipse.equinox.http.jetty.internal.HttpServerManager$InternalHttpServiceServlet.service(HttpServerManager.java:360)
	at org.eclipse.jetty.servlet.ServletHolder.handle(ServletHolder.java:684)
	at org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:501)
	at org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:229)
	at org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1086)
	at org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:428)
	at org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:193)
	at org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1020)
	at org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:135)
	at org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:116)
	at org.eclipse.jetty.server.Server.handle(Server.java:370)
	at org.eclipse.jetty.server.AbstractHttpConnection.handleRequest(AbstractHttpConnection.java:494)
	at org.eclipse.jetty.server.AbstractHttpConnection.content(AbstractHttpConnection.java:982)
	at org.eclipse.jetty.server.AbstractHttpConnection$RequestHandler.content(AbstractHttpConnection.java:1043)
	at org.eclipse.jetty.http.HttpParser.parseNext(HttpParser.java:865)
	at org.eclipse.jetty.http.HttpParser.parseAvailable(HttpParser.java:240)
	at org.eclipse.jetty.server.AsyncHttpConnection.handle(AsyncHttpConnection.java:82)
	at org.eclipse.jetty.io.nio.SelectChannelEndPoint.handle(SelectChannelEndPoint.java:667)
	at org.eclipse.jetty.io.nio.SelectChannelEndPoint$1.run(SelectChannelEndPoint.java:52)
	at org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:608)
	at org.eclipse.jetty.util.thread.QueuedThreadPool$3.run(QueuedThreadPool.java:543)
	at java.lang.Thread.run(Thread.java:745)
Caused by: 
java.lang.IndexOutOfBoundsException: Index: 1, Size: 0
	at java.util.LinkedList.checkPositionIndex(LinkedList.java:560)
	at java.util.LinkedList.add(LinkedList.java:507)
	at com.vaadin.ui.AbstractOrderedLayout.addComponent(AbstractOrderedLayout.java:141)
	at org.eclipse.emf.ecp.view.table.vaadin.TableRendererVaadin.renderControl(TableRendererVaadin.java:133)
	at org.eclipse.emf.ecp.view.table.vaadin.TableRendererVaadin.renderControl(TableRendererVaadin.java:1)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractControlRendererVaadin.render(AbstractControlRendererVaadin.java:80)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractControlRendererVaadin.render(AbstractControlRendererVaadin.java:1)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractVaadinRenderer.renderComponent(AbstractVaadinRenderer.java:34)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.VaadinRendererFactoryImpl.render(VaadinRendererFactoryImpl.java:76)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractContainerRendererVaadin.render(AbstractContainerRendererVaadin.java:28)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractContainerRendererVaadin.render(AbstractContainerRendererVaadin.java:1)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractVaadinRenderer.renderComponent(AbstractVaadinRenderer.java:34)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.VaadinRendererFactoryImpl.render(VaadinRendererFactoryImpl.java:76)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractContainerRendererVaadin.render(AbstractContainerRendererVaadin.java:28)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractContainerRendererVaadin.render(AbstractContainerRendererVaadin.java:1)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractVaadinRenderer.renderComponent(AbstractVaadinRenderer.java:34)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.VaadinRendererFactoryImpl.render(VaadinRendererFactoryImpl.java:76)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.ViewRendererVaadin.render(ViewRendererVaadin.java:36)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.ViewRendererVaadin.render(ViewRendererVaadin.java:1)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractVaadinRenderer.renderComponent(AbstractVaadinRenderer.java:34)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.VaadinRendererFactoryImpl.render(VaadinRendererFactoryImpl.java:76)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.ECPFVaadinViewRendererImpl.render(ECPFVaadinViewRendererImpl.java:43)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.ECPFVaadinViewRendererImpl.render(ECPFVaadinViewRendererImpl.java:38)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.ECPFVaadinViewRendererImpl.render(ECPFVaadinViewRendererImpl.java:31)
	at makeithappen.vaadin.app.internal.VaadinMainUI.init(VaadinMainUI.java:27)
	at com.vaadin.ui.UI.doInit(UI.java:639)
	at com.vaadin.server.communication.UIInitHandler.getBrowserDetailsUI(UIInitHandler.java:222)
	at com.vaadin.server.communication.UIInitHandler.synchronizedHandleRequest(UIInitHandler.java:74)
	at com.vaadin.server.SynchronizedRequestHandler.handleRequest(SynchronizedRequestHandler.java:41)
	at com.vaadin.server.VaadinService.handleRequest(VaadinService.java:1402)
	at com.vaadin.server.VaadinServlet.service(VaadinServlet.java:305)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:848)
	at org.eclipse.equinox.http.servlet.internal.ServletRegistration.service(ServletRegistration.java:61)
	at org.eclipse.equinox.http.servlet.internal.ProxyServlet.processAlias(ProxyServlet.java:128)
	at org.eclipse.equinox.http.servlet.internal.ProxyServlet.service(ProxyServlet.java:60)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:848)
	at org.eclipse.equinox.http.jetty.internal.HttpServerManager$InternalHttpServiceServlet.service(HttpServerManager.java:360)
	at org.eclipse.jetty.servlet.ServletHolder.handle(ServletHolder.java:684)
	at org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:501)
	at org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:229)
	at org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1086)
	at org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:428)
	at org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:193)
	at org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1020)
	at org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:135)
	at org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:116)
	at org.eclipse.jetty.server.Server.handle(Server.java:370)
	at org.eclipse.jetty.server.AbstractHttpConnection.handleRequest(AbstractHttpConnection.java:494)
	at org.eclipse.jetty.server.AbstractHttpConnection.content(AbstractHttpConnection.java:982)
	at org.eclipse.jetty.server.AbstractHttpConnection$RequestHandler.content(AbstractHttpConnection.java:1043)
	at org.eclipse.jetty.http.HttpParser.parseNext(HttpParser.java:865)
	at org.eclipse.jetty.http.HttpParser.parseAvailable(HttpParser.java:240)
	at org.eclipse.jetty.server.AsyncHttpConnection.handle(AsyncHttpConnection.java:82)
	at org.eclipse.jetty.io.nio.SelectChannelEndPoint.handle(SelectChannelEndPoint.java:667)
	at org.eclipse.jetty.io.nio.SelectChannelEndPoint$1.run(SelectChannelEndPoint.java:52)
	at org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:608)
	at org.eclipse.jetty.util.thread.QueuedThreadPool$3.run(QueuedThreadPool.java:543)
	at java.lang.Thread.run(Thread.java:745)
2014-09-16 13:17:18.632:WARN:oejs.ServletHandler:/ECP
com.vaadin.server.ServiceException: java.lang.IndexOutOfBoundsException: Index: 1, Size: 0
	at com.vaadin.server.VaadinService.handleExceptionDuringRequest(VaadinService.java:1460)
	at com.vaadin.server.VaadinService.handleRequest(VaadinService.java:1414)
	at com.vaadin.server.VaadinServlet.service(VaadinServlet.java:305)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:848)
	at org.eclipse.equinox.http.servlet.internal.ServletRegistration.service(ServletRegistration.java:61)
	at org.eclipse.equinox.http.servlet.internal.ProxyServlet.processAlias(ProxyServlet.java:128)
	at org.eclipse.equinox.http.servlet.internal.ProxyServlet.service(ProxyServlet.java:60)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:848)
	at org.eclipse.equinox.http.jetty.internal.HttpServerManager$InternalHttpServiceServlet.service(HttpServerManager.java:360)
	at org.eclipse.jetty.servlet.ServletHolder.handle(ServletHolder.java:684)
	at org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:501)
	at org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:229)
	at org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1086)
	at org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:428)
	at org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:193)
	at org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1020)
	at org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:135)
	at org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:116)
	at org.eclipse.jetty.server.Server.handle(Server.java:370)
	at org.eclipse.jetty.server.AbstractHttpConnection.handleRequest(AbstractHttpConnection.java:494)
	at org.eclipse.jetty.server.AbstractHttpConnection.content(AbstractHttpConnection.java:982)
	at org.eclipse.jetty.server.AbstractHttpConnection$RequestHandler.content(AbstractHttpConnection.java:1043)
	at org.eclipse.jetty.http.HttpParser.parseNext(HttpParser.java:865)
	at org.eclipse.jetty.http.HttpParser.parseAvailable(HttpParser.java:240)
	at org.eclipse.jetty.server.AsyncHttpConnection.handle(AsyncHttpConnection.java:82)
	at org.eclipse.jetty.io.nio.SelectChannelEndPoint.handle(SelectChannelEndPoint.java:667)
	at org.eclipse.jetty.io.nio.SelectChannelEndPoint$1.run(SelectChannelEndPoint.java:52)
	at org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:608)
	at org.eclipse.jetty.util.thread.QueuedThreadPool$3.run(QueuedThreadPool.java:543)
	at java.lang.Thread.run(Thread.java:745)
Caused by: 
java.lang.IndexOutOfBoundsException: Index: 1, Size: 0
	at java.util.LinkedList.checkPositionIndex(LinkedList.java:560)
	at java.util.LinkedList.add(LinkedList.java:507)
	at com.vaadin.ui.AbstractOrderedLayout.addComponent(AbstractOrderedLayout.java:141)
	at org.eclipse.emf.ecp.view.table.vaadin.TableRendererVaadin.renderControl(TableRendererVaadin.java:133)
	at org.eclipse.emf.ecp.view.table.vaadin.TableRendererVaadin.renderControl(TableRendererVaadin.java:1)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractControlRendererVaadin.render(AbstractControlRendererVaadin.java:80)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractControlRendererVaadin.render(AbstractControlRendererVaadin.java:1)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractVaadinRenderer.renderComponent(AbstractVaadinRenderer.java:34)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.VaadinRendererFactoryImpl.render(VaadinRendererFactoryImpl.java:76)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractContainerRendererVaadin.render(AbstractContainerRendererVaadin.java:28)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractContainerRendererVaadin.render(AbstractContainerRendererVaadin.java:1)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractVaadinRenderer.renderComponent(AbstractVaadinRenderer.java:34)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.VaadinRendererFactoryImpl.render(VaadinRendererFactoryImpl.java:76)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractContainerRendererVaadin.render(AbstractContainerRendererVaadin.java:28)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractContainerRendererVaadin.render(AbstractContainerRendererVaadin.java:1)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractVaadinRenderer.renderComponent(AbstractVaadinRenderer.java:34)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.VaadinRendererFactoryImpl.render(VaadinRendererFactoryImpl.java:76)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.ViewRendererVaadin.render(ViewRendererVaadin.java:36)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.ViewRendererVaadin.render(ViewRendererVaadin.java:1)
	at org.eclipse.emf.ecp.view.model.vaadin.AbstractVaadinRenderer.renderComponent(AbstractVaadinRenderer.java:34)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.VaadinRendererFactoryImpl.render(VaadinRendererFactoryImpl.java:76)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.ECPFVaadinViewRendererImpl.render(ECPFVaadinViewRendererImpl.java:43)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.ECPFVaadinViewRendererImpl.render(ECPFVaadinViewRendererImpl.java:38)
	at org.eclipse.emf.ecp.view.model.internal.vaadin.ECPFVaadinViewRendererImpl.render(ECPFVaadinViewRendererImpl.java:31)
	at makeithappen.vaadin.app.internal.VaadinMainUI.init(VaadinMainUI.java:27)
	at com.vaadin.ui.UI.doInit(UI.java:639)
	at com.vaadin.server.communication.UIInitHandler.getBrowserDetailsUI(UIInitHandler.java:222)
	at com.vaadin.server.communication.UIInitHandler.synchronizedHandleRequest(UIInitHandler.java:74)
	at com.vaadin.server.SynchronizedRequestHandler.handleRequest(SynchronizedRequestHandler.java:41)
	at com.vaadin.server.VaadinService.handleRequest(VaadinService.java:1402)
	at com.vaadin.server.VaadinServlet.service(VaadinServlet.java:305)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:848)
	at org.eclipse.equinox.http.servlet.internal.ServletRegistration.service(ServletRegistration.java:61)
	at org.eclipse.equinox.http.servlet.internal.ProxyServlet.processAlias(ProxyServlet.java:128)
	at org.eclipse.equinox.http.servlet.internal.ProxyServlet.service(ProxyServlet.java:60)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:848)
	at org.eclipse.equinox.http.jetty.internal.HttpServerManager$InternalHttpServiceServlet.service(HttpServerManager.java:360)
	at org.eclipse.jetty.servlet.ServletHolder.handle(ServletHolder.java:684)
	at org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:501)
	at org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:229)
	at org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1086)
	at org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:428)
	at org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:193)
	at org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1020)
	at org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:135)
	at org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:116)
	at org.eclipse.jetty.server.Server.handle(Server.java:370)
	at org.eclipse.jetty.server.AbstractHttpConnection.handleRequest(AbstractHttpConnection.java:494)
	at org.eclipse.jetty.server.AbstractHttpConnection.content(AbstractHttpConnection.java:982)
	at org.eclipse.jetty.server.AbstractHttpConnection$RequestHandler.content(AbstractHttpConnection.java:1043)
	at org.eclipse.jetty.http.HttpParser.parseNext(HttpParser.java:865)
	at org.eclipse.jetty.http.HttpParser.parseAvailable(HttpParser.java:240)
	at org.eclipse.jetty.server.AsyncHttpConnection.handle(AsyncHttpConnection.java:82)
	at org.eclipse.jetty.io.nio.SelectChannelEndPoint.handle(SelectChannelEndPoint.java:667)
	at org.eclipse.jetty.io.nio.SelectChannelEndPoint$1.run(SelectChannelEndPoint.java:52)
	at org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:608)
	at org.eclipse.jetty.util.thread.QueuedThreadPool$3.run(QueuedThreadPool.java:543)
	at java.lang.Thread.run(Thread.java:745)
