!SESSION 2014-09-16 13:56:49.737 -----------------------------------------------
eclipse.buildId=unknown
java.version=1.8.0_11
java.vendor=Oracle Corporation
BootLoader constants: OS=macosx, ARCH=x86_64, WS=cocoa, NL=en
Command-line arguments:  -dev file:/Users/dme/Documents/workspace_ecp_vaadin/.metadata/.plugins/org.eclipse.pde.core/OSGi Framework/dev.properties -os macosx -ws cocoa -arch x86_64 -consoleLog -console

!ENTRY org.eclipse.equinox.registry 2 0 2014-09-16 13:56:50.347
!MESSAGE The extensions and extension-points from the bundle "com.vaadin.client-compiler" are ignored. The bundle is not marked as singleton. 
 ____                    ____                   __                            
/\  _`\                 /\  _`\          __    /\ \                           
\ \ \/\ \    ___     ___\ \ \L\ \  _ __ /\_\   \_\ \     __      __           
 \ \ \ \ \  / __`\  /'___\ \  _ <'/\`'__\/\ \  /'_` \  /'_ `\  /'__`\         
  \ \ \_\ \/\ \L\ \/\ \__/\ \ \L\ \ \ \/ \ \ \/\ \L\ \/\ \L\ \/\  __/         
   \ \____/\ \____/\ \____\\ \____/\ \_\  \ \_\ \___,_\ \____ \ \____\        
    \/___/  \/___/  \/____/ \/___/  \/_/   \/_/\/__,_ /\/___L\ \/____/        
              ___    ___       ____                      /\____/              
 /'\_/`\  __ /\_ \  /\_ \     /\  _`\                    \_/__/               
/\      \/\_\\//\ \ \//\ \    \ \,\L\_\     __   _ __   __  __     __   _ __  
\ \ \__\ \/\ \ \ \ \  \ \ \    \/_\__ \   /'__`\/\`'__\/\ \/\ \  /'__`\/\`'__\
 \ \ \_/\ \ \ \ \_\ \_ \_\ \_    /\ \L\ \/\  __/\ \ \/ \ \ \_/ |/\  __/\ \ \/ 
  \ \_\\ \_\ \_\/\____\/\____\   \ `\____\ \____\\ \_\  \ \___/ \ \____\\ \_\ 
   \/_/ \/_/\/_/\/____/\/____/    \/_____/\/____/ \/_/   \/__/   \/____/ \/_/ 
                           __                                                 
 /'\_/`\                  /\ \__                                              
/\      \     __      ____\ \ ,_\    __   _ __                                
\ \ \__\ \  /'__`\   /',__\\ \ \/  /'__`\/\`'__\                              
 \ \ \_/\ \/\ \L\.\_/\__, `\\ \ \_/\  __/\ \ \/                               
  \ \_\\ \_\ \__/.\_\/\____/ \ \__\ \____\\ \_\                               
   \/_/ \/_/\/__/\/_/\/___/   \/__/\/____/ \/_/                               
                                                                         2.2.0
dbmillserver> com.eclipsesource.makeithappen.model.task.impl.UserImpl@2385ba8 (firstName: null, lastName: null, gender: Male, active: false, timeOfRegistration: null, weight: 0.0, heigth: 0, nationality: German, dateOfBirth: null, eMails: [])
com.eclipsesource.makeithappen.model.task.impl.UserImpl@2385ba8 (firstName: null, lastName: null, gender: Male, active: false, timeOfRegistration: null, weight: 0.0, heigth: 0, nationality: German, dateOfBirth: null, eMails: [])
