<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecp.makeithappen.wizards.vaadin.EMFForms"
            name="EMF Forms Vaadin"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            category="org.eclipse.ui.Examples/org.eclipse.emf.ecp.makeithappen.wizards.vaadin.EMFForms"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            id="org.eclipse.emf.ecp.makeithappen.wizards.vaadin.ExampleApplicationWizard"
            name="Make it happen: sample Vaadin application">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.emf.common.ui.examples">
 	<example
            id="org.eclipse.emf.ecp.makeithappen.wizards.vaadin.ExampleApplication"
            wizardID="org.eclipse.emf.ecp.makeithappen.wizards.vaadin.ExampleApplicationWizard">
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.vaadin.sample.app/"
               description="Make It Happen Vaadin Wizard application"
               name="org.eclipse.emf.ecp.makeithappen.vaadin.sample.app">
         </projectDescriptor>
               <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.vaadin.sample.target.platform/"
               description="Make It Happen Vaadin Wizard application"
               name="org.eclipse.emf.ecp.makeithappen.vaadin.sample.target.platform">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.viewmodel/"
               description="Make It Happen viewmodel"
               name="org.eclipse.emf.ecp.makeithappen.model.viewmodel">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model/"
               description="Make It Happen model"
               name="org.eclipse.emf.ecp.makeithappen.model">
         </projectDescriptor>
         <projectDescriptor
               contentURI="examples/org.eclipse.emf.ecp.makeithappen.model.edit/"
               description="Make It Happen model edit"
               name="org.eclipse.emf.ecp.makeithappen.model.edit">
         </projectDescriptor>
      </example>
   </extension>

</plugin>
