.v-textfield-error,.v-datefield-error .v-textfield, .-v-filterselect-error v-filterselect-input, 
.v-select-error .v-select-select, .v-table-error .v-table-body{
    border-color: #FF444B !important;
}


.group{
	background-color: #e8e8e8;
	border-color: #d4d4d4;
	box-shadow: 0 0 5px rgba(51,51,51,0.5);
	border-radius: 3px;
}

.table-add, .table-remove,.table-edit{
	height: 28px !important;
	width: 24px !important;
}


.table-add{
	background: url("/VAADIN/icons/add-table.png") 1px 2px no-repeat !important;
}

.table-remove{
	background: url("/VAADIN/icons/remove-table.png") 1px 2px no-repeat !important;
}

.table-edit{
	background: url("/VAADIN/icons/edit-table.png") no-repeat !important;
}