<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.edit.controls">
      <control
            class="org.eclipse.emf.ecp.controls.vaadin.internal.ECPVaadinText"
            id="org.eclipse.emf.ecp.controls.vaadin.text">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.lang.String">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.controls.vaadin.internal.ECPVaadinBoolean"
            id="org.eclipse.emf.ecp.controls.vaadin.boolean">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Boolean"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.controls.vaadin.internal.ECPVaadinNumber"
            id="org.eclipse.emf.ecp.controls.vaadin.numerical">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Double"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Integer"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.math.BigInteger"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.math.BigDecimal"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Float"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Long"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.controls.vaadin.internal.ECPVaadinDate"
            id="org.eclipse.emf.ecp.controls.vaadin.date">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.util.Date"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.controls.vaadin.internal.ECPVaadinEnum"
            id="org.eclipse.emf.ecp.controls.vaadin.enum">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="java.lang.Enum"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.controls.vaadin.internal.ECPVaadinXMLDate"
            id="org.eclipse.emf.ecp.controls.vaadin.xmldate">
         <staticTest
               priority="2"
               singleValue="true"
               supportedClassType="javax.xml.datatype.XMLGregorianCalendar"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.controls.vaadin.internal.ECPVaadinReferenceList"
            id="org.eclipse.emf.ecp.control.vaadin.reference.list">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.controls.vaadin.internal.ECPVaadinReferenceListTester">
         </dynamicTest>
      </control>
      <control
            class="org.eclipse.emf.ecp.controls.vaadin.internal.ECPVaadinPrimitiveList"
            id="org.eclipse.emf.ecp.controls.vaadin.string.list">
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="java.lang.Object"
               supportedEObject="org.eclipse.emf.ecore.EObject">
         </staticTest>
      </control>
   </extension>
   <extension
         point="org.eclipse.emf.ecp.view.model.vaadin.renderer">
      <renderer
            renderable="org.eclipse.emf.ecp.view.spi.model.VControl"
            renderer="org.eclipse.emf.ecp.controls.vaadin.internal.ControlRendererVaadin">
      </renderer>
   </extension>

</plugin>
