<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.view.model.vaadin.renderer">
      <renderer
            renderable="org.eclipse.emf.ecp.view.spi.custom.model.VCustomControl"
            renderer="org.eclipse.emf.ecp.view.custom.vaadin.CustomControlVaadinRenderer">
      </renderer>
   </extension>

</plugin>
