<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.view.model.vaadin.renderer">
      <renderer
            renderer="org.eclipse.emf.ecp.view.table.vaadin.TableRendererVaadin">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.table.vaadin.internal.TableControlRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.table.vaadin.TableDetailDialogVaadinRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.table.vaadin.internal.TableControlDetailDialogRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.view.table.vaadin.TableControlDetailPanelRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.table.vaadin.internal.TableControlDetailPanelRendererTester">
         </dynamicTest>
      </renderer>
   </extension>

</plugin>
