<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.view.model.vaadin.renderer">
      <renderer
            renderer="org.eclipse.emf.ecp.controls.vaadin.internal.TextControlVaadinRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.model.common.TextControlRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.controls.vaadin.internal.XMLDateControlVaadinRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.controls.vaadin.XMLVaadinDateControlRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.controls.vaadin.internal.DateTimeControlVaadinRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.model.common.DateTimeControlRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.controls.vaadin.internal.NumberControlVaadinRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.model.common.NumberControlRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.controls.vaadin.internal.EnumComboViewerVaadinRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.model.common.EnumComboViewerRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.controls.vaadin.internal.BooleanControlVaadinRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.view.model.common.BooleanControlRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.controls.vaadin.internal.PrimitiveListVaadinRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.controls.vaadin.internal.PrimitiveListVaadinRendererTester">
         </dynamicTest>
      </renderer>
      <renderer
            renderer="org.eclipse.emf.ecp.controls.vaadin.internal.ReferenceListVaadinRenderer">
         <dynamicTest
               testClass="org.eclipse.emf.ecp.controls.vaadin.internal.ReferenceListVaadinRendererTester">
         </dynamicTest>
      </renderer>
   </extension>

</plugin>
