<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.emf.ecp.view.model.vaadin.renderer" name="ECP View Model Vaadin Renderer" schema="schema/org.eclipse.emf.ecp.ui.view.vaadin.renderer.exsd"/>
   <extension
         point="org.eclipse.emf.ecp.view.model.vaadin.renderer">
      <renderer
            renderer="org.eclipse.emf.ecp.view.model.internal.vaadin.ViewRendererVaadin">
         <staticTest
               element="org.eclipse.emf.ecp.view.spi.model.VView"
               priority="1">
         </staticTest>
      </renderer>
   </extension>
</plugin>
